  <a href="./plot">Time Series Global</a>
  <a href="./plot/company/edf">Time Series EDF</a>
  <a href="./plot/company/eon">Time Series EON</a>
  <a href="./plot/company/britishgas">Time Series British Gas</a>
  <a href="./plot/company/ovo">Time Series OVO Energy</a>
  <a href="./plot/company/ecotricity">Time Series Ecotricity</a>
  <a href="./plot/company/tempus">Time Series Tempus Energy</a>
  <a href="./plot/area/uk_administrative_regions">Time Series All UK</a>
  <a href="./map">Interactive tweets on a map</a>
  <a href="./map/TorqueCat">Animation by company</a>
  <a href="./map/HeatMap">Animated Heatmap</a>
  <a href="./map/TorqueCummulative">Cummulative frequency animation.</a>
