{% block content %}
  <h1>Tweet Frequency - Time Series</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Type the name of a company to see a plot of its tweet frequency:
          {{ form.company(size=20) }}<br>
      </p>

      <p>
          Choose the area coverage:
          {{ form.area }}<br>
      </p>

      <h1>Tweet Frequency - Maps</h1>
      <p>
          Choose type of map graph:
          {{ form.map_type }}<br>
      </p>

      <p><input type="submit" value="Show Graph"></p>
  </form>
{% endblock %}

  
